@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

i:hover {
  opacity: 0.7;
  color: #5d3eff;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  /* transform: translateX(-100%); -> same as left 0*/
  transition: all 0.4s ease;
  border-radius: 25%;
}


.link__hover-effect--white:after {
  background-color: #fff
}

.link__hover-effect--black:after {
  background-color: #000;
}


.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

.flex-1 {
  flex:1;
}

.flex {
  display: flex;
  padding: 40px;
}

.container {
  padding: 50px 0;
}

.section__title {
  margin-bottom: 36px;
  font-size: 32px;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
}

.text-purple {
  color: #6030b1;
}

.section:nth-child(even) {
  background-color: #f8f8f8;
}
 
/* NAVIGATION BAR */


nav {
  height: 72px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}


.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700px;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 48px;
  color: #fff;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex; 
  flex-direction: column;
}

.about-me__info--container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 500px;
margin: 0 auto;
height: calc(50vh -72px);
}


.about-me__info--container p {
  text-align: center;
}

.about-me__info--container h1 {
  margin: 12px 0 0 0;
  font-size: 36px;
}

.about-me__picture--mask {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 48%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0 0.16);
  animation: animate-profile-pic 0.8s 0.2s backwards;
}

/* Add keyframes for animation */
@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
  height: 100%;
  transform: scale(1.4,1.2);
  padding: 8px;
}

.about-me__info--para {
  font-size: 16px;
  margin: 24px 0;
}

/* .about-me__links {
  margin-top: 24px;
} */

.about-me__link {
  font-size: 20px;
  color: #000;
  padding: 0 16px;
}

.about-me__info--title {
  animation: fade-up 0.65s 0.4s backwards;
}

.about-me__info--para {
  animation: fade-up 0.65s 0.6s backwards;
}

.about-me__links {
  animation: fade-up 0.65s 0.8s backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img{
  width: 100%;
  animation: fade-in 1.2s 0.8s backwards;
  margin-top: 8vw;
  height: calc(50vh -72px);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wave {
  animation: animate-wave 0.8s infinite ease-in-out;
  display: inline-block;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}


/* tech - stack */

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 0.3s ease-in-out;
}

.language:hover .language__img{
   filter: brightness(80%);
   opacity: 0.85;
   transform: scale(0.9);
   cursor: pointer;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

.language__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}


/* PROJECTS */

.project {
  margin-bottom: 136px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 0.4s ease-in;
}

.project__wrapper {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.project__wrapper:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: #1c1d25;
 opacity: 0;
 transition: all 0.4s ease-in;
 z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
  cursor: pointer;
}

.project:hover .project__img  {
 transform: scale(1.1);
 filter: blur(5px);
}
 /*target the image  */


 .project__list {
   padding-top: 40px;
 }

 .project__description{
   position: absolute;
   top: 50%;
   left: 90px;
   transform: translateY(100%);
   max-width: 550px; 
   z-index: 3;
   opacity: 0;
   transition: all 0.4s ease-in-out; 
 }

 .project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

 .project__wrapper p {
   /* text-align: center; */
   margin-top: 12px;
 }

 /* .project__description--links {
   /* display: flex; */
   /* justify-content: center; */
   /* margin-left: 12px; 
 } */

 .project__description--link {
   font-size: 20px;
   margin-right: 16px;
 }

 .project__description--title {
   font-size: 32px;
   margin-bottom: 8px;
 }

 .project__description--sub-title {
   font-size: 24px;
 }


 .project__description--title,
 .project__description--sub-title, 
 .project__descrption--para,
 .project__description--link {
  text-align: left;
  color: #fff;
 }


/* FOOTER */

footer {
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__logo--img {
  width: 100px;
  height: 70px;
  border-radius: 25%;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.footer__social--link, .footer__copyright, .footer__logo--popper {
  color: #fff;
}

.footer__anchor {
  margin-bottom: 24px;
  position: relative;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 0.4s ease;
}

/* apply transition on the targetted class */
.footer__anchor:hover .footer__logo--popper { 
  transform: translateX(60px);
  opacity: 1;
}


/* when we hover over .footer__anchor, we want to target the .footer__logo--popper to do... */



/* phones (small & large) and tablets */

@media (max-width: 768px) {
  
/* Nav */

  nav {
    height: 68px;
  }

  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px;
    margin-top: 24px;
  }

  .personal__logo {
    margin-top: 16px;
  }

/* About Me */

  /* .about-me__info {
    position: relative;
  } */

  /* .about-me__info--container {
    width: 100%;
    position: absolute;
    top: 7%;
    left: 50%;  /*relative to the container -> 50% of the container's width 
    transform: translate(-50%, 0);  relative to the item itself -> half its own width 
  } */

  .about-me__info--container h1 {
    font-size: 28px;
  }
 
   .about-me__info--container p {
     font-size: 14px;
   }

   /* Languages */

   .language {
     width: calc(100%/3);
   }

   .project__description--para {
     font-size: 14px;
     margin-bottom: 12px;
   }

   .project__description--title {
     font-size: 24px;
   }

   .project__description--sub-title {
    font-size: 18px;
  }

  .project__description--link {
    margin-right: 24px;
  }

  .project__description {
    padding-right: 32px;
    left: 48px;
  }

}

/* SMALL PHONES */
@media (max-width: 480px) {
  .link__hover-effect--black {
    display: none;
  }

  .personal__logo {
    margin-left: 24px;
  }
  
}